
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}


:root{
    --blue: #1A7FBD;
    --blue-light: #94cbee;
    --black: #000;
    --black-light: #00000070;
    --white: #FFF;
    --grey: #b6b0b0ea;
    --grey-light:#f8f6f6ea;
    --font-color: #A4DCFF;
    --background: #F9F9F9;
    --hover: #08314b;

}
body{
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--blue);
    overflow-x: hidden;
    width: 100%;

}

html{
    font-size: 62%;
    scroll-behavior: smooth;
    width: 100%;
}
.vector2{
    position: relative;
    top: 70px;
    z-index: 6200000;
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 26.56%, #FFF 63.54%, rgba(255, 255, 255, 0.00) 100%);
}
.top-bar{
    width: 100%;
    z-index: 2000000;
    position: fixed;
    background-color: var(--blue);
    display: flex;
    font-size: 2rem;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    border-bottom: var(--white);
}
.logo{
    width: 20rem;
}
.banner{
    display: none;
}
.top-bar > nav > ul, li, a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    color: var(--white);
    text-decoration: none;
    gap: 3rem;

}
.top-bar > nav > ul, li, a:hover{
   color: var(--blue-light);
   transition: 1s;

}
.top-bar > button {
    background-color: var(--black);
    color: var(--white);
    font-weight: 700;
    padding: 5px 20px 5px 20px;
    border: none;
    border-radius: 0.5rem;
}

.top-bar > button:hover {
    cursor: pointer;
    background-color: var(--black-light);
    transition: 1s;

}

#form-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  
  
    
}



#cad{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 500px;
   

}
.form-container{
    margin-top: 100px;
    display: flex;
    width: 100%;
    background-image: url(assets/bannertopo.png);
    background-repeat: no-repeat;
    background-position: -270px;
    background-size: auto;
 
}

.form-container > div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    position: relative;
    left: 15px;

 
}
.input-container{
    display: flex;
    flex-direction: column;
    padding: 30px ;
    gap: 20px;

}
.vetor{
    z-index: 20;
    width: 200px;
    height: 570px;
    position: relative;
    right: 15px;

    
}
#cad h1 {
    font-size: 2rem;
    color: var(--grey);
}

h2 {
    color: var(--blue);
    font-size: 1.5rem;
}
input{
    height: 7vh;
    display: flex;
    font-weight: lighter;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: var(--grey-light);
    padding-left: 30px;
}
.nome{
    background-position: 10px;
    background-image: url(assets/icones/user.png);
    background-repeat: no-repeat;
    background-size: 15px;

}
.email{
    background-position: 10px;
    background-image: url(assets/icones/mail.png);
    background-repeat: no-repeat;
    background-size: 15px;
}

select {
    height: 7vh;
    display: flex;
    font-weight: lighter;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: var(--grey-light);
    padding-left: 30px;
}
.estado{
    background-position: 10px;
    background-image: url(assets/icones/state.png);
    background-repeat: no-repeat;
    background-size: 15px;
}
.checkbox-container{
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--blue);
    width: 100%;
    padding: 1rem;
    position: relative;
   


   
}
.checkbox-container > h2{
    color: var(--white);
       
}

.checkbox-container-checks{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}
.checkbox-container-checks > div{
    width: 100%;

}
label {
    color: var(--white);
    font-weight: 900;

}
input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    cursor: pointer;
    display: flex;
    font: 400 1.3rem Arial;
    width: 1.5rem;
    height: 1.5rem;
    text-indent: 20px;
    border: solid 1px var(--white);
    border-radius: 5px;
    position: relative;
}

input[type=checkbox] + label::before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: transparent;
    border: solid 1px var(--red);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


input[type=checkbox]:checked + label::before {
    background-color: var(--white);
    border-radius: 2px;
}

.check-container > div > input[type=checkbox] + label {
    border: solid 1px var(--blue);
}
.check-container > div > label {
    color: var(--grey);
}
.check-container > div  {
    display: flex;
    gap: 5rem;
    margin: 10px 0 10px 0;

}
.check-container{
    padding: 20px;
    margin-left: 30px;

   
}
h3{
    text-align: center;
    color: var(--blue);
    font-size: 1.2rem;
    margin-top: 10px;

}
.check-container > button {
    width: 100%;
    height: 4vh;
    border-radius: 5px;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    margin-top: 20px;
    cursor: pointer;
    font-weight: bolder;

}

.check-container > button:hover {
    background: linear-gradient(90deg, var(--blue), var(--white), var(--blue));
    color: var(--blue);
    transition: 1s;
}

.check-container > p {
    color: var(--grey);
    font-size: 1.3rem;
    padding-top: 20px;
    padding-bottom: 20px;
}
.check-container > p > strong {
    color: var(--blue);
    cursor:pointer;
}
#project-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
    
}
.img-projeto{
   width: 50%;
   margin: auto;
   max-width: 700px;
}
#project-section > article{ 
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding: 10px;
    
}
#project-section > article > h1{ 
    color: var(--font-color);
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.2px;

    
}
#project-section > article > p{ 
    color: var(--white);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

#problem-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;
    background-color: var(--background);

}

#problem-section h1{
    background: var(--Gradient-Text, linear-gradient(88deg, #1A7FBD 1.01%, #6CBFF2 100.21%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.2px;
}
.problem-container{
    background-color: var(--background);
    max-width: 1440px;
    width: 100%;
    padding: 10px 100px 0px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    
}

.problem-container > img{
    width: 50%;
 
}

.problem-container > article{
    width: 50%;
    gap: 200px;

}
.problem-container > article > hr{
    margin: 10px 0px 10px 0px;

}

.problem-container > article > h1 + p{
    color: #000;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.problem-container > article > hr + p{
    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
 
}
.problem-container > article > p > strong{
    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
 
}
.card-container-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 120px;
    z-index: 1000000;
    background-color: #ffffff00;
    

}
.card-container{
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    gap: 5px;
    align-items: center;
    z-index: 100000;
    
}
.card {
    display: flex;
    flex-direction: column;
    width: 327px;
    height: 228px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #E8E8E8;
    background: var(--white);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.582);
    text-align: center;
    justify-content: center;
    align-items: center;

}
.card:hover {
    background: linear-gradient(90deg, #08314b 0%, #6a82b6 26.56%, #FFF 63.54%, #FFF 100%); /* Alterado para cor branca no final */
    background-size: 200% 100%;
    cursor: pointer;
    animation: colorAnimation 3s alternate;

}

@keyframes colorAnimation{
    0%{
        background-position: 0% 0;
    }
    50%{
        background-position: 50% 0;
    }
    100%{
        background-position: 100% 0;
    }
 
    
}
.card > h2 {
    color:var(--black);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.9px;
}
.card > p {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#jorney-section{
    z-index: 1;
    position: relative;
    bottom: 230px;
    padding-top: 130px;
    background-color: var(--white);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
    padding-bottom: 180px;

}
#jorney-section > header{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   text-align: center;
}
#jorney-section > header > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
 }
#jorney-section > header > h1{
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.2px;
    background: var(--Gradient-Text, linear-gradient(88deg, #1A7FBD 1.01%, #6CBFF2 100.21%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 20px;
    margin-right: 20px;
 }
.lines div{
    width: 371px;
    height: 0px;
    background: linear-gradient(90deg, #CFCFCF 0%, rgba(207, 207, 207, 0.00) 100%);
}
.cards-jorney-container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.cards-jorney-container > li{
    width: 30%; 
    height: 77px;
    flex-basis: calc(33.33% - 40px); 
    margin: 20px;
    box-sizing: border-box;

}

.cards-jorney-container > li > figure{
    width: 100%;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid var(--grey-light);
    background: var(--blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    justify-content: center;
    gap: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.247);
    transition: background-color 0.5s;


}

.cards-jorney-container > li > figure:hover{
   background-color: var(--hover);
   cursor: pointer;

}
.cards-jorney-container > li > figure > img{
    background-color: var(--white);
    border-radius: 20px;
    padding: 10px;
    width: 60px;
    
}


.cards-jorney-container > li > figure > figcaption{
    color:var(--white);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
#jorney-section > button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--black);
    color: white;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    gap: 4px;
    margin-bottom: 50px;

}

#jorney-section > button > strong{
    color: var(--blue);
    padding-right: 30px ;
    color: #319CDD;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
}
#jorney-section > button:hover{
    background-color: var(--hover);
    cursor: pointer;
    transition: 0.8s;
}
#goals-section{
    display: flex;
    width: 100%;
    align-items: flex-start;
    border-radius: 2188px;
    background: radial-gradient(50% 50% at 50% 50%, #54B1EA 0%, rgba(84, 177, 234, 0.00) 100%);
    justify-content: space-between;
    padding: 100px 0px 30px 0px ;
    position: relative;
    bottom: 220px;
    overflow: hidden;
}
#goals-section > img {
        width: 200px;
        height: 50vh;
}

#goals-section > article  > h1 {
    color: var(--white);
    color: #FFF;
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.2px;
}

footer{
    background-color: var(--black);
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: center;
    margin-top: -190px;
    padding: 200px;
    width: 100%;
  
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 30px;
    padding: 30px;
}
.links{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links > ul{
    display: flex;
    gap: 10px;
}

.links > ul > li > img{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.footer-container > button {
    border-radius: 6px;
    border: 1px solid #1A7BB6;
    background: #FFF;
    width: 159px;
    height: 43px;
    flex-shrink: 0;
}
.footer-container > button:hover {
    background-color: var(--hover);
    cursor: pointer;
    transition: 1s;
    color: var(--white);
}
.footer-container > nav > ul > li > a {
    color: var(--white);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
}

.footer-container > nav > ul > li > a:hover {
    color: var(--hover);
    cursor: pointer;

}

.footer-container > hr {
    width: 150px;
    transform: rotate(90deg);

}
.contatos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--white);
    align-items: flex-start;

}

.contatos > h3 {
    color: var(--white);

    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.48px;
}

.contatos > p > a {
    color: var(--white);

    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
}

@media(max-width:1440px){
   
    .form-container > div {
        position: relative;
        right: 5rem;
    }
   
}
@media(max-width:1024px){
   .banner{
        display: block;
        width: 100%;
   }
   #goals-section{
    background: none;
    border-radius: 0px 0px 0px ;
   }
   #form-section{
    display: flex   ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .form-container  {
    margin: 0;
}
    .form-container > div {
        position: none;
    }

    .vetor{
      display: none;   
    }

    .form-container{
        background-image: none;
       
    }
    .form-container > div{
        justify-content: center;
        align-items: center;
    
    }
    #cad{
        width: 70%;
    }

    .card-container-top{
        position: relative;
        bottom: 60px;
        z-index: 1000000;
    }
    #goals-section > img{
        display: none;

    }
    .footer-container{
        width: 80%;
    }
    #project-section > article{ 
        max-width: 900px;
        width: 100%;
    }
}
@media (max-width: 900px){
    html{
        font-size: 55%;
    }
     .card-container-top{
        bottom: 0px;
        background-color: var(--background);
     }
      #jorney-section > header > div {
        display: none;
    }
    #jorney-section{
        bottom: 100px;
    }
    #goals-section{
        bottom: 200px;
    }
    .form-container > div{
        position: static;
       
    }
    
}

@media(max-width: 768px){
    html{
        font-size: 50%
    }
    footer{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .footer-container{
        flex-direction: column;
        gap: 0;
        width: 100%;

    }
     .footer-container > hr{
        transform: rotate(180deg);
        width: 100%;

    }
    .footer-container > nav  {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .footer-container > nav  > ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
   
    }
    .contatos{
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

   
    .problem-container > img{
        width: 100%;
    }
    .problem-container > article{
        width: 100%;
        padding-bottom: 30px;
    
    }
    .cards-jorney-container{
        flex-direction: column;
        width: 100%;
    }
    .cards-jorney-container > li {
        width: 60%;
    }
   
}

@media (max-width: 425px){
    html{
        font-size: 40%;
    }
    #goals-section{
        justify-content: center;
    }
    #jorney-section > header > div {
        display: none;
    }
    .vetor{
        display: none;
    }
    .form-container{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .banner{
        margin-top: 100px;
        width: 100%;
    }

 
    .card-container{
        flex-direction: column;
    }
    #cad{
        width: 90%;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
     .top-bar > nav {
        display: none;
    }
    .footer-container{
        flex-direction: column;
    }
    .footer-container > hr{
        transform: none;
    }
    #jorney-section > header > div {
        display: none;
    }
    .img-projeto{
        width: 100%;
     }
    
     .problem-container > img{
        width: 100%;
    }
    .problem-container > article{
        width: 100%;
    
    }
    
    .card-container{
        margin-top: 10px;
    }
    .input-container{
        width: 100%;
    }
 
}


